footer {
    position: absolute;
    width: 100%;
    bottom: 0;
    height: 62px;

    .region-footer {

        background: $color--gray--light;
        height: 100%;
        border-top: 1px solid $color--border;

        & > .wrapper-region {
            @include grid-container;

            .navigation {
                @include grid-span(12, 1);
            }
        }

    }

}