
a.skip-link{
    @include transitions(opacity);
    left: -999em; opacity: 0; top: 15px; z-index:9999; position:absolute !important;

    &:focus{
        left:50% !important; opacity:1;
    }
}

.layout-container{
    display: flex; min-height:100vh; flex-direction:column;
}

.main-content{
    flex: 1; padding:$row-margin-small 0;
}

.layout-content{
    padding:40px 0 80px;
}
