
a.skip-link{
    @include button();
    @include horizontalCenter();
    @include transitions(opacity);
    left: -999em; opacity: 0; top: 15px; z-index:9999; position:absolute !important;

    &:focus{
        left:50% !important; opacity:1;
    }
}

main {
    @include clearfix();
    margin-top: 20px;
}

.layout-container{
    @include container();
}

.layout-content{
    padding:40px 0 80px;
}
