@mixin button() {
    @include transitions();
    color: #fff;
    background: $color--primary;
    border: 0;
    padding: 0.5em 1em;
    border-radius: 0.5em;
    outline-color:$color--text;
    outline-offset:$outline-offset;

    @include hover() {
        background: $color--secondary;
        cursor: pointer;
    }
}

.button{
    @include button();
}