////
/// @group colors
////

/// @type color
$color--primary--blue: #007bff;
/// @type color
$color--primary: $color--primary--blue;

/// @type color
$color--secondary--blue: #0E6BAC;
/// @type color
$color--secondary: $color--secondary--blue;

/// @type color
$color--gray--light: #e9ecef;
/// @type color
$color--gray: #aaa;


/// @type color
$color--copy--main: $color--gray;

/// @type color
$color--border: $color--gray--light;
