
//  Google Fonts
@import url("https://fonts.googleapis.com/css2?family=Anton&family=Roboto:ital,wght@0,400;0,700;1,400&display=swap");

// ICOMOON
/*@font-face {
    font-family: 'icomoon';
    font-weight: normal;
    font-style: normal;
    font-display: swap;
    src: url('https://d1azc1qln24ryf.cloudfront.net/42560/-----/icomoon.woff2?nwa800') format('woff2'), url('https://d1azc1qln24ryf.cloudfront.net/42560/-----/icomoon.woff?nwa800') format('woff');
}*/

$font--regular: 'Roboto', sans-serif;
$font--heading: 'Anton', sans-serif;
