
//  Google Fonts
@import url("//fonts.googleapis.com/css?family=Roboto:400,400i,700&display=swap");

// ICOMOON
/*@font-face {
    font-family: 'icomoon';
    font-weight: normal;
    font-style: normal;
    font-display: swap;
    src: url('https://s3.amazonaws.com/icomoon.io/42560/-----/icomoon.woff2?nwa800') format('woff2'), url('https://s3.amazonaws.com/icomoon.io/42560/-----/icomoon.woff?nwa800') format('woff');
}*/

$font--family--regular: "Roboto", sans-serif;

$font--main: $font--family--regular;
