
// Measurements
$container-max-width: 1400px;
$small-screen-padding: 15px;
$content-width: 700px;
$admin-bar: 39px;
$admin-bar-open: 79px;

// Breakpoint will output fallback selectors in this stylesheet
@include breakpoint-set("no query fallbacks", true);

// Sign posts
$width-small: 360px;
$width-medium: 600px;
$width-tablet-portrait: 740px;
$width-content: $content-width+($small-screen-padding*2);
$width-tablet-landscape: 960px;
$width-large: $container-max-width+($small-screen-padding*2);
$width-xlarge: 1600px;

// Mobile-first queries
$bp--small: $width-small;
$bp--medium: $width-medium;
$bp--tablet-portrait: $width-tablet-portrait;
$bp--content: $width-content;
$bp--tablet-landscape: $width-tablet-landscape;
$bp--large: $width-large;
$bp--xlarge: $width-xlarge;


// Basic layout
$row-margin-small: 40px;
$row-margin: 70px;
$spacing: 20px;

// Interface
$outline-offset: 2px;
$outline:1px dotted;

$border:1px solid $color--border;