$base-font-size: 16;
$medium-font-size: 15;
$small-font-size: 14;
$base-typography-spacing: 1em;
$base-line-height: 1.8;

@mixin fontsize($fontsize: $base-font-size){
    font-size: #{$fontsize}px;
    font-size: #{$fontsize / 10}rem;
}

@mixin body-copy() {
    @include fontsize($small-font-size);
    line-height:$base-line-height; font-family:$font--regular;
    @include breakpoint($bp--typography){
        @include fontsize($medium-font-size);
    }
    @include breakpoint($bp--large-layout){
        @include fontsize();
    }
}

@mixin heading($fontsize: $base-font-size){
    @include fontsize($fontsize);
    font-family:$font--heading; font-weight:600; text-transform:uppercase;
}

@mixin h1() {
    @include heading(25);
    line-height:1; margin:0;
    @include breakpoint($bp--typography){
        @include fontsize(30);
    }
    @include breakpoint($bp--large-layout){
        @include fontsize(40);
    }
}

@mixin h2() {
    @include heading(24);
    line-height:1; margin:0 0 $base-typography-spacing 0;
    @include breakpoint($bp--typography){
        @include fontsize(28);
    }
    @include breakpoint($bp--large-layout){
        @include fontsize(30);
    }
}

@mixin h3() {
    @include heading(23);
    line-height:1; margin:0 0 $base-typography-spacing 0;
    @include breakpoint($bp--typography){
        @include fontsize(26);
    }
    @include breakpoint($bp--large-layout){
        @include fontsize(28);
    }
}

@mixin h4() {
    @include heading(22);
    line-height:1; margin:0;
    @include breakpoint($bp--typography){
        @include fontsize(24);
    }
    @include breakpoint($bp--large-layout){
        @include fontsize(26);
    }
}

@mixin h5() {
    @include heading(20);
    line-height:1; margin:0;
}

@mixin h6() {
    @include fontsize();
    line-height:1; margin:0;
}

@mixin fonticon ($content, $size:20px, $color: #000, $top: "", $left: "", $right: "", $bottom: "", $center: false, $middle: false, $elem: before) {
    position:relative;
    &:#{$elem} {
        @include transitions();
        position: absolute;
        content: $content;
        color: $color;
        font-size:$size;
        font-family:'icomoon';
        font-style:normal;
        font-weight:normal;
        speak:none;
        display:block;
        text-decoration:none;
        width:$size;
        height:$size;
        text-align:center;
        text-rendering:optimizeLegibility;
        line-height: $size;
        float: left;
        z-index:2;
        text-indent:0;
        @if $top != '' { top: $top; }
        @if $left != '' { left: $left; }
        @if $right != '' { right: $right; }
        @if $bottom != '' { bottom: $bottom; }
        @if $center{ transform:translateX(-50%); }
        @if $middle{ transform:translateY(-50%); }
        @if $center and $middle{ transform:translate(-50%,-50%); }
    }
}

@mixin fonticonSize($size){
    font-size:$size; width:$size; height:$size; line-height:$size;
}