$base-font-size: 16;
$mobile-font-size: 15;
$base-typography-spacing: 30px;
$base-line-height: 1.8;

@mixin fontsize($fontSize: $base-font-size){
    font-size: #{$fontSize}px;
    font-size: #{$fontSize / 10}rem;
}

@mixin body-copy() {
    @include fontsize($mobile-font-size);
    line-height:$base-line-height;
    @include breakpoint($bp--tablet-portrait){
        @include fontsize();
    }
}

@mixin h1() {
    @include fontsize(25);
    line-height:1; margin:0;
    @include breakpoint($bp--tablet-portrait){
        @include fontsize(30);
    }
}

@mixin h2() {
    @include fontsize(24);
    line-height:1; margin:0 0 $base-typography-spacing 0;
    @include breakpoint($bp--tablet-portrait){
        @include fontsize(28);
    }
}

@mixin h3() {
    @include fontsize(23);
    line-height:1; margin:0 0 $base-typography-spacing 0;
    @include breakpoint($bp--tablet-portrait){
        @include fontsize(26);
    }
}

@mixin h4() {
    @include fontsize(22);
    line-height:1; margin:0;
    @include breakpoint($bp--tablet-portrait){
        @include fontsize(24);
    }
}

@mixin h5() {
    @include fontsize(20);
    line-height:1; margin:0;
    @include breakpoint($bp--tablet-portrait){
        @include fontsize(20);
    }
}

@mixin h6() {
    @include fontsize();
    line-height:1; margin:0;
}

@mixin fonticon ($content, $size:20px, $color: #000, $top: "", $left: "", $right: "", $bottom: "", $center: false, $middle: false, $elem: before) {
    position:relative;
    &:#{$elem} {
        @include transition();
        position: absolute;
        content: $content;
        color: $color;
        font-size:$size;
        font-family:'icomoon';
        font-style:normal;
        font-weight:normal;
        speak:none;
        display:block;
        text-decoration:none;
        width:$size;
        height:$size;
        text-align:center;
        text-rendering:optimizeLegibility;
        line-height: $size;
        float: left;
        z-index:2;
        text-indent:0;
        @if $top != '' { top: $top; }
        @if $left != '' { left: $left; }
        @if $right != '' { right: $right; }
        @if $bottom != '' { bottom: $bottom; }
        @if $center{ transform:translateX(-50%); }
        @if $middle{ transform:translateY(-50%); }
        @if $center and $middle{ transform:translate(-50%,-50%); }
    }
}