
.media--loading{
    @include loader();
    &:after{
        @include absoluteCenter();
    }
    &:before{
        display:none;
    }
}

.media {

    position: relative;

    .blazy &{
        @include cover();
    }

    .image {
        @include cover();
        position: relative;
    }

    .field--name-field-media-image{

        @include objectFitImage();

    }

}

.file--application-pdf{
    padding-left:0; background:none;
    a{
        //@include icon('\e90d');
    }
}