
.cke_widget_element{
    width:100%;
}

.file--application-pdf{
    padding-left:0; background:none;
    a{
        @include fonticon('\e908',20px,$color--primary,50%,0,auto,auto,false,true);
        padding-left:30px; display:inline-block;
    }
}

.field--name-field-media-oembed-video{
    position:relative;
    &:after{
        content: '';
        display: block;
        padding-bottom: 56.25%;
    }
    iframe{
        @include cover();
    }
}

.media {
    position: relative;

    &:not(.media--type-file){
        overflow:hidden; width:100%;
    }

    &.media--type-inline-image{
        position:static; width:auto; height:auto;

        .media{
            position:static;
        }

    }

    .field--name-field-media-image{

        .media{
            background:$color--background;
        }

    }

    .field--name-field-media-oembed-video{
        @include cover();
        z-index: 2;
        iframe{
            @include cover();
        }
    }

    &--type-remote-video{
        .field--name-field-media-image{
            padding-bottom: 56.25% !important; position: relative; z-index: 1;
        }
        /*.video-poster-frame{
            @include fonticon('\e906', 18px, $color--primary, auto, auto, 1.5em, 1.5em);
        }*/
    }

    .field--name-field-credit{
        position:absolute; top:0; left:0; padding:5px 10px; background:rgba(#fff,0.5);
    }

    .field--name-field-caption{
        padding:5px 10px;

    }

}