{%
    set classes = [
        'paragraph',
        'paragraph--type--' ~ paragraph.bundle|clean_class,
        view_mode ? 'paragraph--view-mode--' ~ view_mode|clean_class,
        not paragraph.isPublished() ? 'paragraph--unpublished',
        content.field_column_style|render ? content.field_column_style[0]["#markup"],
    ]
%}

{% block paragraph %}
    <div{{ attributes.addClass(classes) }}>

        {% block content %}
            {{ content }}
        {% endblock %}

    </div>
{% endblock paragraph %}
