{%
    set classes = [
        'paragraph',
        'paragraph--type--' ~ paragraph.bundle|clean_class,
        view_mode ? 'paragraph--view-mode--' ~ view_mode|clean_class,
        not paragraph.isPublished() ? 'paragraph--unpublished',
        content.field_column_style|render ? 'column-style--'~content.field_column_style[0]["#markup"],
        content.field_width|render ? 'width--'~content.field_width[0]["#markup"],
        content.field_image_alignment|render ? 'align--'~content.field_image_alignment[0]["#markup"]
    ]
%}


{% block paragraph %}
    <div{{ attributes.addClass(classes) }} id="paragraph-{{ paragraph.id() }}">

        {% block content %}
            {{ content|without(
                'field_column_style',
                'field_image_alignment',
                'field_width'
            )}}
        {% endblock %}

    </div>
{% endblock paragraph %}
