
// Global setups
// ----------------------
$grid-spacing: 20px;

@mixin global-grid(){
    @include add-grid(12);
    @include add-gutter(1);
    //@include sgs-change('debug', true);
    //@include background-grid($color: #c3c3c3);
}

@include global-grid();

.row{
    @include rowMargin();
}

@mixin resetGrid(){
    margin-left:0 !important; margin-right:0 !important; float:none !important; clear:none !important; width:auto !important;
}


// Float Columns
// ----------------------
@mixin two-col-float(){
    width:100%;
    &:not(:last-child){
        margin-bottom:$grid-spacing;
    }
    @include breakpoint($bp--tablet-portrait){
        @include float-span(6);
        &:nth-child(odd){
            clear:both;
        }
        &:nth-child(even){
            @include float-span(6,'last');
            clear:none;
        }
        &:last-child,
        &:nth-last-child(2){
            margin-bottom:0;
        }
    }
}

.two-col-float{
    @include clearfix();
    > *{
        @include two-col-float();
    }
}

@mixin three-col-float(){

    @include two-col-float();

    @include breakpoint($bp--tablet-landscape){

        &:nth-child(3n-2){
            clear:both !important;
        }
        &:nth-child(3n-2),
        &:nth-child(3n-1){
            @include float-span(4);
        }
        &:nth-child(3n){
            @include float-span(4,last);
            clear:none !important;
        }
        &:last-child,
        &:nth-last-child(2),
        &:nth-last-child(3){
            margin-bottom:0;
        }
    }

}

.three-col-float{
    @include clearfix();
    > *{
        @include three-col-float();
    }
}


// Grid Columns
// ----------------------
@mixin three-col-grid(){

    > *{
        margin-bottom:$grid-spacing;
    }

    @include breakpoint($bp--medium){
        display:grid; grid-template-columns: repeat(2, 1fr); grid-gap:$grid-spacing; justify-content:center;
    }

    @include breakpoint($bp--tablet-portrait){
        grid-template-columns: repeat(3, 1fr);
    }

}

.three-col-grid{
    @include three-col-grid();
}

@mixin three-col-flex(){
    > *{
        margin-bottom:$grid-spacing;
    }

}