
// Global setups
// ----------------------

.container{
    @include container();
}
.content-container{
    @include content-container();
}
.row{
    @include rowMargin();
}
.row-padding{
    @include rowPadding();
}


// Grid
// ----------------------




// Flex Columns
// ----------------------
@mixin two-col-flex(){
    
    @include breakpoint($bp--tablet-portrait){
        display:flex; flex-wrap:wrap;
    }
    
    > *{
        width:100%;
        &:not(:last-child){
            margin-bottom:$row-gap;
        }
        @include breakpoint($bp--tablet-portrait){
            width:50%;
            &:last-child,
            &:nth-last-child(2){
                margin-bottom:0;
            }
        }
    }
    
}

.two-col-flex{
    @include two-col-flex();
}

@mixin three-col-flex(){
    @include two-col-flex();
    
    @include breakpoint($bp--tablet-landscape){
        
        > *{
            width:calc(100%/3);
            
            &:last-child,
            &:nth-last-child(2),
            &:nth-last-child(3){
                margin-bottom:0;
            }
            
        }
        
    }
    
}

.three-col-flex{
    @include three-col-flex();
}


// Float Columns
// ----------------------
@mixin three-col-float(){
    width:100%;
    &:not(:last-child){
        margin-bottom:$row-gap;
    }

    @include breakpoint($bp--tablet-portrait){
        float: left; width: 49%;
        &:nth-child(odd){
            clear:both;
        }
        &:nth-child(even){
            float: right; clear:none;
        }
        &:last-child,
        &:nth-last-child(2){
            margin-bottom:0;
        }
    }

    @include breakpoint($bp--tablet-landscape){
        width: 32.666%;
        &:nth-child(3n-2){
            clear:both !important;
        }
        &:nth-child(3n-2),
        &:nth-child(3n-1){
            float: left;
        }
        &:nth-child(3n){
            float: right; clear:none !important;
        }
        &:last-child,
        &:nth-last-child(2),
        &:nth-last-child(3){
            margin-bottom:0;
        }
    }

}

.three-col-float{
    @include clearfix();
    > *{
        @include three-col-float();
    }
}