

@mixin global-grid(){
    @include add-grid(12);
    @include add-gutter(1/3);
    //@include sgs-change('debug', true);
    //@include background-grid($color: #c3c3c3);
}

@include global-grid();

@mixin span-cols($cols){
    @include float-span($cols);
    &:last-child{
        @include float-span($cols,'last');
    }
}

@mixin resetGrid(){
    margin-left:0 !important; margin-right:0 !important; float:none !important; clear:none !important; width:auto !important;
}

@mixin two-col(){
    &:not(:last-child){
        margin-bottom:$row-margin-small;
    }
    @include breakpoint($bp--medium){
        @include float-span(6);
        &:nth-child(odd){
            clear:both;
        }
        &:nth-child(even){
            @include float-span(6,'last');
            clear:none;
        }
        &:last-child,
        &:nth-last-child(2){
            margin-bottom:0;
        }
    }
}

@mixin three-col(){
    @include two-col();

    @include breakpoint($bp--tablet-portrait){

        &:nth-child(3n-2){
            clear:both;
        }
        &:nth-child(3n-2),
        &:nth-child(3n-1){
            @include float-span(4);
        }
        &:nth-child(3n){
            @include float-span(4,last);
            clear:none !important;
        }
        &:last-child,
        &:nth-last-child(2),
        &:nth-last-child(3){
            margin-bottom:0;
        }
    }

}