* {
    box-sizing: border-box;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    @include body-copy();
    margin-bottom: 160px;
}

h1 { @include h1; }
h2 { @include h2; }

a {
    color: $color--primary--blue;
    &:hover { color: $color--secondary--blue; }
}

blockquote {
    font-style: italic;
    border-left: solid 3px $color--gray;
}

img {
    max-width: 100%;
    height: auto;
}