* {
    box-sizing: border-box;

    &:focus{
        outline:$outline;
    }
    &:focus:not(:focus-visible) {
        outline: none;
    }

}

html {
    font-size:62.5%; background: #fff;
}

body {
    @include body-copy();
    color:$color--text;

    &.cke_editable{
        @include fontsize();
        padding:20px !important; background:#fff !important;
    }

}

h1, h2, h3, h4, h5{
    @include marginResets();
}
h1 { @include h1(); }
h2, .h2 { @include h2(); }
h3, .h3 { @include h3(); }
h4, .h4 { @include h4(); }
h5, .h5 { @include h5(); }
h6, .h6 { @include h6(); }

.rte{
    p, ul, ol{
        @include marginResets();
        margin:$base-typography-spacing 0;
    }
    ul, ol{
        ul, ol{
            margin-bottom:1em !important;
        }
    }
}

a {
    @include transitions();
    text-decoration:none;

    @include hover(){
        color:$color--text;
    }
}

a.image{
    display:block; outline-offset:$outline-offset;
}

blockquote {
    padding:20px 30px; margin:$base-typography-spacing 0;
}

img {
    max-width: 100%;
    height: auto;
    display:block;
}

iframe{
    border: none !important; width: 100% !important;
}