
$base-image-padding: 56.25%;

@mixin object-fit($fit: cover, $position: 50% 50%) {
    -o-object-fit: $fit;
    object-fit: $fit;
    @if $position {
        -o-object-position: $position;
        object-position: $position;
        font-family: "object-fit: #{$fit}; object-position: #{$position}";
    } @else {
        font-family: "object-fit: #{$fit}";
    }
}

@mixin objectFitImage($padding:$base-image-padding) {
    position: relative;
    display: block;
    padding-bottom:$padding;
    img:not(.b-lazy),
    img.b-lazy.b-loaded {
        @include cover();
    }
}

.media .field--name-field-media-image{
    &.focus-top-left{
        img:not(.b-lazy),
        img.b-lazy.b-loaded{
            @include object-fit(cover, 0 0); }
    }
    &.focus-top-center{
        img:not(.b-lazy),
        img.b-lazy.b-loaded{
            @include object-fit(cover, 50% 0); }
    }
    &.focus-top-right{
        img:not(.b-lazy),
        img.b-lazy.b-loaded{
            @include object-fit(cover, 100% 0); }
    }
    &.focus-middle-left{
        img:not(.b-lazy),
        img.b-lazy.b-loaded{
            @include object-fit(cover, 0 50%); }
    }
    &.focus-middle-center{
        img:not(.b-lazy),
        img.b-lazy.b-loaded{
            @include object-fit(cover, 50% 50%); }
    }
    &.focus-middle-right{
        img:not(.b-lazy),
        img.b-lazy.b-loaded{
            @include object-fit(cover, 100% 50%); }
    }
    &.focus-bottom-left{
        img:not(.b-lazy),
        img.b-lazy.b-loaded{
            @include object-fit(cover, 0 100%); }
    }
    &.focus-bottom-center{
        img:not(.b-lazy),
        img.b-lazy.b-loaded{
            @include object-fit(cover, 50% 100%); }
    }
    &.focus-bottom-right{
        img:not(.b-lazy),
        img.b-lazy.b-loaded{
            @include object-fit(cover, 100% 100%); }
    }
}