
$base-image-padding: 56.25%;

@mixin object-fit($fit: fill, $position: null) {
    -o-object-fit: $fit;
    object-fit: $fit;
    @if $position {
        -o-object-position: $position;
        object-position: $position;
        font-family: "object-fit: #{$fit}; object-position: #{$position}";
    } @else {
        font-family: "object-fit: #{$fit}";
    }
}

@mixin objectFitImage($padding:$base-image-padding, $fit: cover, $position: null) {
    position: relative;
    display: block;
    padding-bottom:$padding;
    img:not(.b-lazy),
    img.b-lazy.b-loaded {
        @include cover();
        @include object-fit($fit, $position);
        .focus-top-left &{ @include object-fit($fit, 0 0); }
        .focus-top-center &{ @include object-fit($fit, 50% 0); }
        .focus-top-right &{ @include object-fit($fit, 100% 0); }
        .focus-middle-left &{ @include object-fit($fit, 0 50%); }
        .focus-middle-center &{ @include object-fit($fit, 50% 50%); }
        .focus-middle-right &{ @include object-fit($fit, 100% 50%); }
        .focus-bottom-left &{ @include object-fit($fit, 0 100%); }
        .focus-bottom-center &{ @include object-fit($fit, 50% 100%); }
        .focus-bottom-right &{ @include object-fit($fit, 100% 100%); }
    }
    &.focus-top-left img{ @include object-fit($fit, 0 0); }
    &.focus-top-center img{ @include object-fit($fit, 50% 0); }
    &.focus-top-right img{ @include object-fit($fit, 100% 0); }
    &.focus-middle-left img{ @include object-fit($fit, 0 50%); }
    &.focus-middle-center img{ @include object-fit($fit, 50% 50%); }
    &.focus-middle-right img{ @include object-fit($fit, 100% 50%); }
    &.focus-bottom-left img{ @include object-fit($fit, 0 100%); }
    &.focus-bottom-center img{ @include object-fit($fit, 50% 100%); }
    &.focus-bottom-right img{ @include object-fit($fit, 100% 100%); }
}
