
// Display
// -----------------------------------
.visually-hidden{
    @include visuallyHidden();
}
.reset{
    @include reset();
    ul{
        @include reset();
    }
}
.cover{
    @include cover();
}
.center{
    &-horizontal{
        @include horizontalCenter();
    }
    &-absolute{
        @include absoluteCenter();
    }
}
.outline-offset{
    outline-offset: $outline-offset;
}
.pseudo{
    &-before{
        position: relative;
        &:before{
            @include pseudo();
            @include transitions();
        }
    }
    &-after{
        position: relative;
        &:after{
            @include pseudo();
            @include transitions();
        }
    }
}
.d{
    &-none{
        display: none;
    }
    &-block{
        display: block;
    }
    &-flex{
        display: flex;
    }
    &-grid{
        display: grid;
    }
}
.pos{
    &-relative{
        position: relative;
    }
    &-absolute{
        position: absolute;
    }
}
.z-index{
    &-20{
        z-index: 20;
    }
}


// Flex / Grid
// -----------------------------------
.jc{
    &-space-between{
        justify-content: space-between;
    }
    &-center{
        justify-content: center;
    }
}
.ai{
    &-flex-start{
        align-items: flex-start;
    }
    &-center{
        align-items: center;
    }
    &-flex-end{
        align-items: flex-end;
    }
}


// Fonts/Text
// -----------------------------------
.f{
    &-heading{
        font-family: $font--heading;
    }
    &-regular{
        font-family: $font--regular;
    }
    &-w{
        &-bold{
            font-weight: 600;
        }
    }
}
.t{
    &-align{
        &-center{
            text-align: center;
        }
    }
    &-c{
        &-text{
            color: $color--text;
        }
    }
    &-t{
        &-none{
            text-transform: none;
        }
        &-uppercase{
            text-transform: uppercase;
        }
    }
    /*&-large{
        @include large-text();
    }
    &-micetype{
        @include mice-type();
    }*/
}

// Margins / Padding
// -----------------------------------
.p{
    &-t{
        &-2{
            padding-top: 2em;
        }
    }
}

.m{
    &-t{
        &-2{
            margin-top: 2em;
        }
    }
}


// Backgrounds
// -----------------------------------
.bg{
    &-none{
        background: none;
    }
}

// Border
// -----------------------------------
.border{
    &-none{
        border: none;
    }
}
