aside.branding {
    @include clearfix;
}


.branding__site-logo {
    display: inline-block;
    float: left;
}


.branding__site-title {
    display: inline-block;
    float: left;
    margin: 5px 20px;

    & > a {
        color: $color--copy--main;
        text-decoration: none;
    }
}