$margin-form-item: 30px;
$form-field-height: 35px;

@mixin label() {
    display: block; margin-bottom: 10px; font-weight:bold;
}

@mixin field() {
    background: #fff; border:$border; width:100%; padding:0 20px; line-height:$form-field-height; height:$form-field-height;
}

@mixin required() {
    &:after {
        content: " *";
        color: red;
    }
}


form {

    .form-item {
        @include clearfix();
        margin: $margin-form-item 0; position:relative;
        @include marginResets();
    }

    input, select, textarea, button{
        -webkit-appearance:none !important; -webkit-border-radius:0 !important; border-radius:0 !important;
    }

    input[type="text"], input[type="email"], input[type="password"], input[type="tel"], input[type="number"], select {
        @include field();
    }

    label, .form-composite legend {
        @include label();
        &.form-required{
            @include required();
        }
    }

    label.error{
        color:#ff0000;
    }

    textarea {
        padding: 10px; border:$border; width:100%;
    }

    button[type="submit"], input[type="submit"] {
        margin-top: $base-typography-spacing*2; outline-offset:$outline-offset;
        &:focus{
            outline:#{$outline} $color--primary;
        }
    }

    .form-checkboxes .form-item, .form-radios .form-item {
        display: inline-block;
        margin: 10px 0;
        vertical-align: bottom;
        width: 100%;
    }

    .form-type-checkbox,
    .form-type-radio{
        label{
            width:auto !important;
        }
    }

    .description {
        margin-top: 10px;
    }

}


button[type="submit"], input[type="submit"]{
    @include button();
    -webkit-appearance:none !important; -webkit-border-radius:0 !important; border-radius:0 !important;

    &:focus{
        outline:1px dotted #000;
    }

}

